:root {
    --light-purple: #7e42f5;
    --dark-purple: #5828b8;
}

* {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between; 
}

.highscore {
    color: var(--light-purple);
    font-size: 15px;
    font-weight: lighter;
}

.timer {
    font-size: 15px;
    font-weight:lighter;
}

.title, .question {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
}

p {
    text-align: center;
    margin: auto 15%;
    font-size: 20px;
}

.btn {
    background-color: var(--dark-purple);
    border-radius: 10px;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    margin: 25px auto auto;
}

.btn:hover {
    background-color: var(--light-purple);
}

#startquiz {
    display: block;
}

.question-page, .end-page, .high-score-page {
    margin: 5% 20%;    
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 75%;
    
}

.question-btn {
    margin: 5px 0;
    width: 100%;
    text-align: left;
    min-width: 175px;
}

.answer {
    margin: 10px;
    border-top: 1px solid lightgray;
    color: lightgrey;
    font-style: italic;
    text-align: left;
}

.end-page .title, .end-page p, .high-score-page .title {
    text-align: left;
    margin: 5% 0;
}

label {
    font-size: 20px;
    height: 20px;
    width: 35%;
}

input {
    margin: 0 15px 0 0;
    height: 20px
}

.initial-submit, .highscore-btn {
    margin: 0;
    padding: 3px 20px;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 8px;
    padding: 3px 0;
    background: #e6e6ff;
}

.highscore-btn {
    margin-right: 10px;
    padding: 5px 10px;
}